@media screen and (max-width: 1100px) {
    .container {
        width: 788px;
        margin: 0px auto;
    }

    .header {
        max-width: 788px;
        margin: 0px auto;
        padding: 0px 100px;
    }

    .about-site {
        position: relative;

        &::before {
            position: absolute;
            width: 768px;
            height: 200px;
            background-image: url("../img/about-bg-tablet.jpg");
            background-repeat: no-repeat;
            content: '';
        }
    }

    .about-site__discrip {
        margin: 72px auto 72px 97px;
        width: 162px;
        height: 56px;
        font-size: 56px;
        line-height: 56px;
    }

    .about-site__section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 140px;
    }

    .about-site__img {
        margin-top: 144px;
    }

    .about-site__box {
        margin-top: 0px;
    }

    .about-site__title {
        margin-top: 56px;
        width: 457px;
        height: 96px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .about-site__text {
        width: 573px;
        height: 50px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
    .about-site__content {
        /* display: none; */
        position: relative;

        &::after {
            position: absolute;
            width: 445px;
            height: 445px;
            background-color: rgba(229, 236, 244, 1);
            border-radius: 50%;
            top: 150px;
            left: 530px;
            content: '';
        }
    }

    .space-site {
        display: flex;
        flex-direction: column;
        padding: 0px 140px;
    }

    .space-site-title {
        margin-top: 56px;
        width: 457px;
        height: 96px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .space-site__text {
        width: 573px;
        height: 50px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    .our-values__title {
        margin-top: 120px;
        margin-bottom: 50px;
        width: 457px;
        height: 48px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }
    

    .our-values__list {
        display: block;

    }
    .our-values__text {
        max-width: 457px;
        height: 28px;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .our-values__discription {
        margin-top: 27px;
        text-align: center;
        width: 457px;
        height: 75px;
        font-size: 15px;
        line-height: 25px;
    }

    .our-values__item--tech{
        position: relative; 

        &::before {
            position: absolute;
            max-width: 96px;
            width: 100%;
            height: 96px;
            background-color: rgba(252, 183, 43, 1);
            top: 170px;
            left: 70px;
            border-radius: 50%;
            background-image: url("../img/tech.svg");
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
        }
    }

    .our-values__item--integrity {
        position: relative;

        &::before {
            position: absolute;
            max-width: 96px;
            width: 100%;
            height: 96px;
            background-color: rgba(252, 183, 43, 1);
            top: 170px;
            left: 70px;
            border-radius: 50%;
            background-image: url("../img/integrity.svg");
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
        }
    }

    .our-values__item--community {
        position: relative;

        &::before {
            position: absolute;
            max-width: 96px;
            width: 100%;
            height: 96px;
            background-color: rgba(252, 183, 43, 1);
            top: 170px;
            left: 70px;
            border-radius: 50%;
            background-image: url("../img/community.svg");
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
        }
    }


    .faqs-figma__titule {
        margin: 0px;
        width: 457px;
        height: 48px;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 64px;
        text-align: center;
        
    }

    .faqs-figma__title {
        display: inline;
        text-align: center;
        width: 350px;
        height: 48px;
        font-size: 40px;
        line-height: 48px;  
    }


    .footer-top {
        max-width: 100%;
        padding: 62px 156px;
    }

    .footer-top__container {
        display: block;
        position: relative;

        &::before {
            position: absolute;
            max-width: 768px;
            width: 100%;
            height: 300px;
            background-image: url("../img/footer-top-tablet.svg");
            background-repeat: no-repeat;
            top: -62px;
            left: -155px;
            content: '';
        }
    }

    .footer-top__title {
        width: 457px;
        height: 96px;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
    }

    .footer-bottom {
        width: 768px;
        height: 96px;
        padding: 35px 39px;

    }
}
    
